@font-face {
    font-family: 'Open Sans';
    src: url(https://fonts.google.com/specimen/Open+Sans);
}

@font-face {
    font-family: 'Raleway';
    src: url(https://fonts.google.com/specimen/Raleway);
}

body {
    font-family: Open Sans;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}